.questions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question {
    width: 100%;
}

.questions select {
    padding: 5px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 5px;
}

.sectionTitle {
    background-color: #ffd32b;
    padding: 10px;
}

.dropdown_question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
}


@media (max-width: 480px) {

    .sectionTitle {
        font-size: 1.2em;
    }

    .dropdown_question {
        font-size: 1em;
    }
}